### Number of Trips Taken by Age and Gender

In [ ]:
import csv
from csv import reader
from csv import writer
from collections import Counter
import glob
import collections
import re

pi="/Users/hildavargas/Desktop/Springboard_Mini_Projects/Capstone_Project/CitiBike_Data/"

people_all=[]

for file in glob.glob(pi+"*.csv"):
    path_i=file
    
    csv_=reader(open(path_i, "r"), delimiter=",")

    num=re.findall(r'\b\d+\b', file)

    people=[]

    # Skip the header
    next(csv_)

    for row in csv_:
        people.append((row[14], row[13], num[0], num[1]))        

    count=collections.Counter(people)
    
    x=count.items()
    
    people_unnested=[(a,b,c,d,e) for ((a, b, c, d),e) in x]
    
    people_all.append(people_unnested)

    with open("/Users/hildavargas/Desktop/Springboard_Mini_Projects/Capstone_Project/CB_real_metrics/PeopleGenderAge.csv", "w") as out:
        csv_out=csv.writer(out, delimiter=',')
        
        fieldnames=['Gender','Birth Year', 'Month', 'Year', 'Number of People']
        
        csv_out.writerow(fieldnames)
    
        for row in people_all:
            csv_out.writerows(row)

In [2]:
import numpy as np
import pandas as pd

# Null values written as "/N" -- replace with nulls
peopledf=pd.read_csv("/Users/hildavargas/Desktop/Springboard_Mini_Projects/Capstone_Project/CB_real_metrics/PeopleGenderAge.csv", na_values=[r'\N'])

# Replace Gender w/ 'NA, M, F' vs. '0, 1, 2'
peopledf.Gender=peopledf.Gender.replace(0, 'U')
peopledf.Gender=peopledf.Gender.replace(1, 'M')
peopledf.Gender=peopledf.Gender.replace(2, 'F')

# Drop rows with nulls
peopledf.dropna()
peopledf.head()

  Gender  Birth Year  Month  Year  Number of People
0      F      1926.0   2013     7                37
1      M      1970.0   2013     7             14662
2      F      1900.0   2013     7                 1
3      M      1944.0   2013     7               560
4      M      1967.0   2013     7             10100

In [3]:
check=peopledf.copy()
x=check[np.abs(check['Birth Year']-check['Birth Year'].mean())<=(3*check['Birth Year'].std())]

x.sort_values(by='Birth Year')

     Gender  Birth Year  Month  Year  Number of People
6619      F      1893.0   2016    10                 1
6458      F      1893.0   2016     9                 1
6113      F      1893.0   2016     8                 2
5915      F      1893.0   2016     7                 6
7051      F      1893.0   2016    12                13
6867      F      1893.0   2016    11                 7
6102      F      1894.0   2016     8                 5
5322      F      1894.0   2016     4                 6
6059      F      1894.0   2016     7                 1
5590      F      1894.0   2016     5                 7
5776      F      1894.0   2016     6                 1
6305      F      1894.0   2016     9                 1
6607      F      1895.0   2016    10                12
6837      F      1895.0   2016    11                57
6985      F      1895.0   2016    12                 5
6541      M      1896.0   2016    10                 2
6271      M      1896.0   2016     8                 8
4112      M      1896.0   2015     9                 7
4334      M      1896.0   2015    10                 7
855       M      1899.0   2013    12                34
5200      M      1899.0   2016     3                34
6266      M      1899.0   2016     8                68
1559      M      1899.0   2014     5                51
4763      M      1899.0   2016     1                16
271       F      1899.0   2013     8                19
5391      M      1899.0   2016     4                33
5059      M      1899.0   2016     2                38
4455      M      1899.0   2015    11                13
3163      M      1899.0   2015     4                49
1744      M      1899.0   2014     6                34
...     ...         ...    ...   ...               ...
4538      F      1999.0   2015    12               194
4549      M      1999.0   2015    12               539
4936      M      1999.0   2016     2               366
4889      F      1999.0   2016     2               146
5407      F      2000.0   2016     4                43
6480      F      2000.0   2016     9               194
6561      U      2000.0   2016    10                 9
6567      M      2000.0   2016    10              1079
6653      F      2000.0   2016    10               190
6762      F      2000.0   2016    11               175
6488      U      2000.0   2016     9                21
7015      M      2000.0   2016    12               677
7012      U      2000.0   2016    12                 5
6270      M      2000.0   2016     8               481
5473      F      2000.0   2016     5                49
5252      F      2000.0   2016     3                44
5494      M      2000.0   2016     5               191
5119      M      2000.0   2016     3                 3
5720      M      2000.0   2016     6               282
5743      F      2000.0   2016     6                97
6292      M      2000.0   2016     9               927
4995      F      2000.0   2016     2                23
6879      M      2000.0   2016    11               956
5935      F      2000.0   2016     7               143
6000      M      2000.0   2016     7               337
5312      M      2000.0   2016     4                88
4843      F      2000.0   2016     1                 1
6229      F      2000.0   2016     8               158
6882      U      2000.0   2016    11                31
7142      F      2000.0   2016    12               155

[7008 rows x 5 columns]

In [4]:
def is_outlier(points, thresh=3.5):
    """
    Returns a boolean array with True if points are outliers and False 
    otherwise.

    Parameters:
    -----------
        points : An numobservations by numdimensions array of observations
        thresh : The modified z-score to use as a threshold. Observations with
            a modified z-score (based on the median absolute deviation) greater
            than this value will be classified as outliers.

    Returns:
    --------
        mask : A numobservations-length boolean array.

    References:
    ----------
        Boris Iglewicz and David Hoaglin (1993), "Volume 16: How to Detect and
        Handle Outliers", The ASQC Basic References in Quality Control:
        Statistical Techniques, Edward F. Mykytka, Ph.D., Editor. 
    """
    if len(points.shape) == 1:
        points = points[:,None]
    median = np.median(points, axis=0)
    diff = np.sum((points - median)**2, axis=-1)
    diff = np.sqrt(diff)
    med_abs_deviation = np.median(diff)

    modified_z_score = 0.6745 * diff / med_abs_deviation

    return modified_z_score > thresh

is_outlier(check['Birth Year'])

/Users/hildavargas/anaconda/lib/python3.5/site-packages/numpy/lib/function_base.py:3578: RuntimeWarning: Invalid value encountered in median for 1 results
  RuntimeWarning)
/Users/hildavargas/anaconda/lib/python3.5/site-packages/numpy/lib/function_base.py:3569: RuntimeWarning: Invalid value encountered in median
  RuntimeWarning)
/Users/hildavargas/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:32: RuntimeWarning: invalid value encountered in greater

array([False, False, False, ..., False, False, False], dtype=bool)